@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap');


@mixin font_name{
  display: flex;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 45px;
  line-height: 130%;
  color: #373737;
}

  @mixin font_text{
  display: flex;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 150% ;
  color: #373737;
}


body {
  font-family: sans-serif;
}

  *{
    padding: 0px;
    margin: 0px;
}

.banner {
  border-radius: 5px;
  padding: 50px 0;
  height: 350px;
  background: url("../img/photo-cake5_1.png") 50% no-repeat;
  background-size: cover;
}      

.h1 {
  @include font_name;
  justify-content: center;
}

.font {
  display: flex;
  justify-content: center;
  font-family: 'Allison', cursive;
  font-weight: 700;
  font-size: 55px;
  line-height: 100%;
  color: #8B4513;
}

.navbar-light .navbar-nav .nav-link {
    color: #8B4513;
}
.picture {
  border-radius: 5px;
  height: 250px;
  background: url("../img/photo-cake4.png") 50% no-repeat;
  background-size: cover;
}
.picture2 {
  border-radius: 5px;
  height: 250px;
  background: url("../img/photo-cake6.png") 50% no-repeat;
  background-size: cover;
}
.proFile {
  @include font_text;
}